.bea_mm_spinner {
	width: 20px;
	margin-bottom: -5px;
	margin-right: 5px;
}

#bea-mm.postbox .inside {
	margin: 0;
	padding: 0;
}

#bea-mm.postbox .inside .alert-message {
	padding: 7px 10px;
	border-bottom: 1px solid #DFDFDF;
}
#bea-mm.postbox .inside .alert-message.success {
	background: #bee056;
}
#bea-mm.postbox .inside .alert-message.failure {
	background: #d64949;
}
#bea-mm.postbox .inside .alert-message.alert {
	background: #8ab8c7;
}
#bea-mm.postbox .inside .list-relations {
	padding: 7px 10px 15px;
	border-bottom: 1px solid #DFDFDF;
	background: #fff;
}
#bea-mm.postbox .inside .tools-relations {
	padding: 15px 0 7px;
}
#bea-mm.postbox .inside .full-draft {
	margin-bottom: 0;
	border-bottom: 1px solid #DFDFDF;
	padding: 0 10px 10px;
}
#bea-mm.postbox .inside .add-draft {
	padding: 0 10px 10px;
}
#bea-mm.postbox .inside .edit-relation {
	text-decoration: none;
	color: #5aadc8;
}
#bea-mm.postbox .inside .edit-relation:hover {
	color: #408da7;
}
#bea-mm.postbox .inside .del-item {
	text-decoration: none;
	color: #e10303;
}
#bea-mm.postbox .inside .del-item:hover {
	color: #a80000;
}


/** BEA_MM Links
 */
#bea-mm-link {
	background-color: #F5F5F5;
	line-height: 1.4em;
	font-size: 12px;
}

#bea-mm-link ol,
#bea-mm-link ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#bea-mm-link input[type="text"] {
	-webkit-box-sizing: border-box;
}

#bea-mm-link input[type="text"],
#bea-mm-link textarea {
	border-width: 1px;
	border-style: solid;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	font-size: 12px;
	margin: 1px;
	padding: 3px;
}

#bea-mm-link p.howto {
	margin: 3px;
}

#bea-mm-link label input[type="text"] {
	width: 360px;
	margin-top: 5px;
}

#bea-mm-link #bea-mm-link-options label span,
#bea-mm-link #bea-mm-search-panel label span.search-label {
	display: inline-block;
	width: 80px;
	text-align: right;
	padding-right: 5px;
}

#bea-mm-link .link-search-field {
	float: left;
	margin-right: 5px;
}

#bea-mm-link .link-search-wrapper {
	margin: 5px 6px 9px;
	display: block;
	overflow: hidden;
}

#bea-mm-link .link-search-wrapper span {
	float: left;
	margin-top: 4px;
}

#bea-mm-link .link-search-wrapper input[type="text"] {
	float: left;
	width: 220px;
}

#bea-mm-link .link-search-wrapper .spinner {
	margin: 4px 2px 0 0;
	display: none;
	vertical-align: text-bottom;
}

#bea-mm-link .link-target {
	width: auto;
	padding: 3px 0 0;
	margin: 0 0 0 87px;
	font-size: 11px;
}

#bea-mm-link .query-results {
	border: 1px #dfdfdf solid;
	margin: 0 5px 5px;
	background: #fff;
	height: 185px;
	overflow: auto;
	position: relative;
}

#bea-mm-link li,
#bea-mm-link .query-notice {
	clear: both;
	margin-bottom: 0;
	border-bottom: 1px solid #f1f1f1;
	color: #333;
	padding: 4px 6px;
	cursor: pointer;
	position: relative;
}

#bea-mm-link li:hover {
	background: #eaf2fa;
	color: #151515;
}

#bea-mm-link li.unselectable {
	border-bottom: 1px solid #dfdfdf;
}

#bea-mm-link li.unselectable:hover {
	background: #fff;
	cursor: auto;
	color: #333;
}

#bea-mm-link li.selected {
	background: #ddd;
	color: #333;
}

#bea-mm-link li.selected .item-title {
	font-weight: bold;
}

#bea-mm-link .item-title {
	display: inline-block;
	width: 80%;
}

#bea-mm-link .item-info {
	text-transform: uppercase;
	color: #666;
	font-size: 11px;
	position: absolute;
	right: 5px;
	top: 4px;
	bottom: 0;
}

#bea-mm-link #bea-mm-search-results {
	display: none;
}

#bea-mm-link #bea-mm-search-panel {
	float: left;
	width: 100%;
}

#bea-mm-link .river-waiting {
	display: none;
	padding: 10px 0;
}

#bea-mm-link .river-waiting .spinner {
	margin: 0 auto;
	display: block;
}

#bea-mm-link .submitbox {
	padding: 5px 10px;
	font-size: 11px;
	overflow: auto;
	height: 29px;
}

#bea-mm-link-cancel {
	line-height: 25px;
	float: left;
}

#bea-mm-link-update {
	line-height: 23px;
	float: right;
}


/*
RTL
*/
.rtl #bea-mm-link #internal-toggle {
	padding-right: 18px;
	padding-left: 0;
}

.rtl #bea-mm-link #bea-mm-link-options label span,
.rtl #bea-mm-link #bea-mm-search-panel label span.search-label {
	text-align: left;
	padding-right: 0;
	padding-left: 5px;
}

.rtl #bea-mm-link #bea-mm-link-options label #url-field {
	direction: ltr;
}

.rtl #bea-mm-link .link-search-field,
.rtl #bea-mm-link .link-search-wrapper span {
	float: right;
}

.rtl #bea-mm-link .link-target {
	margin-right: 87px;
	margin-left: 0;
}

.rtl #bea-mm-link .item-info {
	left: 5px;
	right: auto;
	top: 4px;
	bottom: 0;
}

.rtl #bea-mm-link #bea-mm-search-panel {
	float: right;
}

.rtl #bea-mm-link-cancel {
	float: right;
}

.rtl #bea-mm-link-update {
	float: left;
}

.rtl #bea-mm-link .toggle-arrow {
	background-position: top right;
}

.rtl #bea-mm-link .toggle-arrow-active {
	background-position: center right;
}
